.calculator {
  width: 290px;
  background-color: bisque;
  border: black solid 1px;
  border-radius: 5px;
  height: 320px;
}
button {
  margin-top: 5px;
  font-size: 30px;
  width: 50px;
}
#zero {
  width: 104px;
}
#equals {
  width: 104px;
}
#clear {
  width: 104px;
}
#display {
  display: block;
  text-align: end;
  width: 230px;
  margin: 30px 18px 16px 18px;
  background-color: rgb(15, 97, 79);
  color: rgb(192, 192, 192);
  padding: 8px 10px 0 10px;
  height: 40px;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}
#seven, #four, #one, #zero {
  margin-left: 10px;
} 
